body {
	margin: 0;
	padding: 0;
	font-family: 'roboto', arial, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.zalupa {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.zalupa2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}